/** ANIMATION STYLESHEET: LET THERE BE LIFEEEEE! **/

.title-slide {
    -webkit-animation: right-in 1s ease-in-out;
    animation: right-in 1s ease-in-out;
}

@-webkit-keyframes right-in {
    0% {   
        transform: translateX(3000px);
        }
    
    80% {
        transform: translateX(-20px);
    }
    
    90% {
        transform: translateX(40px);
    }
    
    100% {
        transform: translateX(0px);
    }
}

@keyframes right-in {
    0% {   
        transform: translateX(3000px);
        }
    
    80% {
        transform: translateX(-10px);
    }
    
    90% {
        transform: translateX(10px);
    }
    
    100% {
        transform: translateX(0px);
    }
}

.h2-slide {
    -webkit-animation: right-in-2 1s ease-in-out;
    animation: right-in-2 1s ease-in-out;
}

@-webkit-keyframes right-in-2 {
    0% {   
        transform: translateX(3000px);
        }
    
    80% {
        transform: translateX(-10px);
    }
    
    90% {
        transform: translateX(10px);
    }
    
    100% {
        transform: translateX(0px);
    }
}

@keyframes right-in-2 {
    0% {   
        transform: translateX(3000px);
        }
    
    80% {
        transform: translateX(-10px);
    }
    
    90% {
        transform: translateX(10px);
    }
    
    100% {
        transform: translateX(0px);
    }
}

