/** ANIMATION STYLESHEET: LET THERE BE LIFEEEEE! **/

.title-slide {
    -webkit-animation: right-in 1s ease-in-out;
    animation: right-in 1s ease-in-out;
}

@-webkit-keyframes right-in {
    0% {   
        transform: translateX(3000px);
        }
    
    80% {
        transform: translateX(-20px);
    }
    
    90% {
        transform: translateX(40px);
    }
    
    100% {
        transform: translateX(0px);
    }
}

@keyframes right-in {
    0% {   
        transform: translateX(3000px);
        }
    
    80% {
        transform: translateX(-10px);
    }
    
    90% {
        transform: translateX(10px);
    }
    
    100% {
        transform: translateX(0px);
    }
}

.h2-slide {
    -webkit-animation: right-in-2 1s ease-in-out;
    animation: right-in-2 1s ease-in-out;
}

@-webkit-keyframes right-in-2 {
    0% {   
        transform: translateX(3000px);
        }
    
    80% {
        transform: translateX(-10px);
    }
    
    90% {
        transform: translateX(10px);
    }
    
    100% {
        transform: translateX(0px);
    }
}

@keyframes right-in-2 {
    0% {   
        transform: translateX(3000px);
        }
    
    80% {
        transform: translateX(-10px);
    }
    
    90% {
        transform: translateX(10px);
    }
    
    100% {
        transform: translateX(0px);
    }
}

.test-slide1 {
    -webkit-animation: right-in 1s ease-in-out;
    animation: right-in 1s ease-in-out;
}

@-webkit-keyframes right-in {
    
    0% {   
        transform: translateX(3000px);
        }
    
    80% {
        transform: translateX(-20px);
    }
    
    90% {
        transform: translateX(40px);
    }
    
    100% {
        transform: translateX(10px);
    }
}

.delay-slide {
    transform: translateX(3000px);
    -webkit-animation: right-in 2s linear forwards;
    animation: right-in 2s linear;
    -webkit-animation-delay: 1s;
    -animation-delay: 1s;
}

.jiggle {
    -webkit-animation: jiggle 2s ease-in-out;
    animation: jiggle 2s ease-in-out;
}

@-webkit-keyframes jiggle {
    20% {
        opacity: 0;
        transform: rotate3d(0, 0, 1, 15deg);
    }
    
    40% {
        transform: rotate3d(0, 0, 1, -10deg);
    }  
    
    60% {
        transform: rotate3d(0, 0, 1, 5deg);
    }  

    80% {
        transform: rotate3d(0, 0, 1, -5deg);
    }  
    
    100% {
        opacity: 100;
        transform: rotate3d(0, 0, 1, 0deg);
    }  
}

.bunny-parent {
    position: relative;
}

.body {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 30%;
}

.head {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 30%;
}

.bounce {
    -webkit-animation: bounce 3s linear alternate infinite;
    animation: bounce 3s linear alternateinfinite;
}

@-webkit-keyframes bounce {
    
    0% {
        transform: translateY(20px)
    }
    
    80% {
        transform: translateY(30px)
    }   
}

.bounce-head {
    -webkit-animation: bounce-head 3s linear alternate infinite;
    animation: bounce-head 3s linear alternate infinite;
}

@-webkit-keyframes bounce-head {
    
    0% {
        transform: translate(-10px, -20px)
    }
    
    50% {
        transform: translateX (15px)
    }
    
    80% {
        transform: translate(0px, -30px)
    }   
    
    100% {
        transform: translate(10px, -40px)
    }
}

.appear {
    opacity: 0;
    -webkit-animation: appear 5s linear forwards;
    animation: appear 5s linear forwards;
}

@-webkit-keyframes appear {
    
    20% {
        opacity: 0;
    }
    
    100% {
        opacity: 100;
    }   
}

    


