/** ANIMATION STYLESHEET: LET THERE BE LIFEEEEE! **/

.title-slide {
    -webkit-animation: right-in 1s ease-in-out;
    animation: right-in 1s ease-in-out;
}

@-webkit-keyframes right-in {
    0% {   
        transform: translateX(3000px);
        }
    
    80% {
        transform: translateX(-20px);
    }
    
    90% {
        transform: translateX(40px);
    }
    
    100% {
        transform: translateX(0px);
    }
}

@keyframes right-in {
    0% {   
        transform: translateX(3000px);
        }
    
    80% {
        transform: translateX(-10px);
    }
    
    90% {
        transform: translateX(10px);
    }
    
    100% {
        transform: translateX(0px);
    }
}

.h2-slide {
    -webkit-animation: right-in-2 1s ease-in-out;
    animation: right-in-2 1s ease-in-out;
}

@-webkit-keyframes right-in-2 {
    0% {   
        transform: translateX(3000px);
        }
    
    80% {
        transform: translateX(-10px);
    }
    
    90% {
        transform: translateX(10px);
    }
    
    100% {
        transform: translateX(0px);
    }
}

@keyframes right-in-2 {
    0% {   
        transform: translateX(3000px);
        }
    
    80% {
        transform: translateX(-10px);
    }
    
    90% {
        transform: translateX(10px);
    }
    
    100% {
        transform: translateX(0px);
    }
}

.test-slide1 {
    -webkit-animation: right-in 1s ease-in-out;
    animation: right-in 1s ease-in-out;
}

@-webkit-keyframes right-in {
    0% {   
        transform: translateX(3000px);
        }
    
    80% {
        transform: translateX(-20px);
    }
    
    90% {
        transform: translateX(40px);
    }
    
    100% {
        transform: translateX(0px);
    }
}


.test-slide2 {
    -webkit-animation: right-in 1s linear;
    animation: right-in 2s linear;
    -webkit-animation-delay: 1s;
    -animation-delay: 1s;
}


.jiggle {
    -webkit-animation: jiggle 2s ease-in-out;
    animation: jiggle 2s ease-in-out;
}

@-webkit-keyframes jiggle {
    20% {
        opacity: 0;
        transform: rotate3d(0, 0, 1, 15deg);
    }
    
    40% {
        transform: rotate3d(0, 0, 1, -10deg);
    }  
    
    60% {
        transform: rotate3d(0, 0, 1, 5deg);
    }  

    80% {
        transform: rotate3d(0, 0, 1, -5deg);
    }  
    
    100% {
        opacity: 100;
        transform: rotate3d(0, 0, 1, 0deg);
    }  
}

.bunny-parent {
    position: relative;
}

.hat {
    background-image: url(../img/hat.png);
    position: absolute;
    top: -100px;
    left: 100px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.head {
    background-image: url(../img/head.png);
    position: absolute;
    top: -100px;
    left: 100px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

