.cream {
    background-color: #FAF6E2;
}

.beige {
    background-color: #E1D6C3;
}

.mint {
    background-color: #89CDC2;
}

.coral {
    background-color: #E9625A;
}

.coral-type {
    color: #E9625A;
}

.cherry-wood {
    background-color: #895953;
}

.navy {
    background-color: #282C4E;
}

.nautical-blue {
    background-color: #457BBD;
}

.fill {
    color: white;
    position: relative;
}

.stroke {
    position: absolute;
    color: transparent;
    -webkit-text-stroke: 5px #E9625A;
    -webkit-stroke-offset: 10px;
}

