.cream {
    background-color: #FAF6E2;
}

.beige {
    background-color: #E1D6C3;
}

.mint {
    background-color: #89CDC2;
}

.coral {
    background-color: #E9625A;
}

.coral-type {
    color: #E9625A;
}

.cherry-wood {
    background-color: #895953;
}

.navy {
    background-color: #282C4E;
}

.nautical-blue {
    background-color: #457BBD;
}

.title {
    position: relative;
}

.fill {
    color: white;
    position: absolute;
}

.stroke {
    position: absolute;
    height: 120px;
    width: 100px;
    top: 60%;
    right: 75%;
    color: transparent;
    -webkit-text-stroke: 4px #E9625A;
}

