.cream {
    background-color: #FAF6E2;
}

.sand {
    background-color: #E1D6C3;
}

.mint {
    background-color: #89CDC2;
}

.coral {
    background-color: #E9625A;
}

.coral-type {
    color: #E9625A;
}

.cherry-wood {
    background-color: #895953;
}

.navy {
    background-color: #282C4E;
}

.nautical-blue {
    background-color: #457BBD;
}

.navy-type {
    color: #895953;
}
    


