@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.bunny {
    position: relative;
    width: 150px;
    height: 10px;
    margin: auto;
    background-color: rgba(255, 0, 0, 0.5);
}

.head {
    position: absolute;
    top: 140px;
    left: 150px;
    width: 150px;
    height: 150px;
    background-image: url(../img/face.svg);
    background-repeat: no-repeat;
    -webkit-animation: bob 1s ease-in-out alternate infinite;
    animation: bob 1s ease-in-out alternate infinite;
}

@-webkit-keyframes bob { 
    0% {
        transform: translate(0px, 0px);
    }
    
    30% {
        transform: translate(20px, -30px);
    }
    
    60% {
        transform: translate(40px, -30px);
    }
    
    100% {
        transform: (-70px, -37px);
    }
}

.body {
    position: absolute;
    top: 300px;
    width: 180px;
    height: 180px;
    background-image: url(../img/body.svg);
    background-repeat: no-repeat;
    -webkit-animation: spin 1s ease-in-out alternate infinite;
    animation: spin 1s ease-in-out alternate infinite;
}

@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(45deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

.front-foot {
    position: absolute;
    top: 450px;
    left: 180px;
    width: 50px;
    height: 50px;
    background-image: url(../img/foot.svg);
    -webkit-animation: front-foot 1s ease-in-out alternate infinite;
    animation: front-foot 1s ease-in-out alternate infinite; 
}

@-webkit-keyframes front-foot {
    0% {
        transform: translate(0);
    }
    
    30% {
        transform: translate(30px, 0px);
    }
    
    40% {
        transform: translate(40px, -5px);
    }
        
    60% {
        transform: translate(60px, -10px);
    }
    
    80% { 
        transform: translate(90px, -50px);
    }
    
    100% {
        transform: translate(100px, -70px);
    }
}

@keyframes front-foot {
   0% {
        transform: translate(0);
    }
    
    30% {
        transform: translate(30px, 0px);
    }
    
    40% {
        transform: translate(40px, -5px);
    }
        
    60% {
        transform: translate(60px, -10px);
    }
    
    80% { 
        transform: translate(90px, -50px);
    }
    
    100% {
        transform: translate(100px, -70px);
    }
}
    
.rear-foot {
    position: absolute;
    top: 450px;
    left: -50px;
    width: 50px;
    height: 50px;
    background-image: url(../img/foot.svg);
    -webkit-animation: rear-foot 1s ease-in-out alternate infinite;
    animation: rear-foot 1s ease-in-out alternate infinite; 
}

@-webkit-keyframes rear-foot {
   0% {
        transform: translate(0);
    }
    
    30% {
        transform: translate(-30px, 0px);
    }
    
    40% {
        transform: translate(-40px, -5px);
    }
        
    60% {
        transform: translate(-60px, -10px);
    }
    
    80% { 
        transform: translate(-90px, -50px);
    }
    
    100% {
        transform: translate(-100px, -70px);
    }
}
 
@keyframes rear-foot {
   0% {
        transform: translate(0);
    }
    
    30% {
        transform: translate(30px, 0px);
    }
    
    40% {
        transform: translate(40px, -5px);
    }
        
    60% {
        transform: translate(60px, -10px);
    }
    
    80% { 
        transform: translate(90px, -50px);
    }
    
    100% {
        transform: translate(100px, -70px);
    }
}
 
    
    
