@charset "UTF-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

header {
    margin: 0;
}

body {
    margin: 0;
}

.headline {
    margin: auto;
    background-color: blue;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.parent {
    position: relative;
    width: 140px;
    height: 180px;
    margin: 0 auto;
}

.bunny-body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.banner {
    position: relative;
}

.small-title {
    font-size: 4rem;
    margin-bottom: 0.4rem;
    }

.small-center {
        text-align: center;
    }

.panel {
    display: none;
}

.js-panel-open {
    display: block;
}

.ham-btn {
    height: 1.5rem;
    width: 2.5rem;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    top: 1rem;
    left: 5%;
    background: transparent url("../img/hamburger.svg") no-repeat center center;
    z-index: 100;
    padding: 0;
    margin: 20px;
    border: 0;
}

.ham-btn {
    background-color: #FAF6E2;
}

nav {
 padding: 0;
}

nav ul {
    padding: 0;
    margin: 0;
    border-top: 1px solid #E1D6C3;
}

nav li {
    background-color: #FAF6E2;
    border-bottom: 1px solid #E1D6C3;
    text-decoration: none;
    list-style: none;
}

nav a {
    display: block;
    text-decoration: none;
    color: #282C4E;
    width: 100%;
    padding: 25px;

}

nav a:hover {
    background-color: #E1D6C3;
}

@media only screen and (min-width: 25em) {
.small-title {
        font-size: 6rem;
    }

}

@media only screen and (min-width: 38em) {
    .small-center {
        text-align: left;
    }

    .small-title {
        font-size: 8rem;
    }


}

@media only screen and (min-width: 60em) {

}
