.fill {
    color: #fff;
}

.shadow {
    -webkit-text-stroke: 1px #E1D6C3;
   color: #fff;
   text-shadow: 8px 8px 0 #E1D6C3, -1px -1px 0 #E1D6C3, 1px -1px 0 #E1D6C3, -1px 1px 0 #E1D6C3, 1px 1px 0 #E1D6C3;
    -webkit-transition-property: text-shadow; 
    -webkit-transition-duration: 2s; 
    transition-property: text-shadow;
    transition-duration: 2s;
}

.navy-type {
    color: #282C4E;
}
    