/**
.title {
    position: relative;
}
**/

.fill {
    color: #fff;
}

.shadow {
    -webkit-text-stroke: 1px #E1D6C3;
   color: #fff;
   text-shadow:
    8px 8px 0 #E1D6C3,
    -1px -1px 0 #E1D6C3,  
    1px -1px 0 #E1D6C3,
    -1px 1px 0 #E1D6C3,
    1px 1px 0 #E1D6C3;
}

/**
.stroke {
    color: white;
    position: absolute;
    webkit-stroke-offset: 2px;
    height: 100px;
    width: 100px;
    top: 15%;
    right: 50%;
    -webkit-text-stroke: 4px #E9625A;
}
**/


.navy-type {
    color: #282C4E;
}
    